<% const {description, title, createdAt, categories} = article %>


<!DOCTYPE html>
<html lang="en">
<%- include("../components/head", {title, stylesPath: "/public/styles/writings/writing.css"}) %>

<body>
    <header>
    </header>

    <main class="content">
        <h1><%=title%></h1>
        <h3><%=createdAt.toUTCString()%></h3>
        <div>
        <%categories.forEach((c, i) => { %>
            <% let catString = c.dataValues.name %>
            <%if(i !== categories.length-1){ %>
                <% catString += ',' %>
           <% }%>
            <span><%=catString%></span>
       <% }) %>
        </div>
        <hr>
        <%-description%>
    </main>

    <footer>
        <a id="back" href="/blog/writings"><<<<<<<< WRITINGS</a><br><br>
        <a id="rss" href="/blog/rss" target="_blank">
        <img src="/public/images/icons/rss.png"></a>
    </footer>
</body>
</html>