<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRARY</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/public/styles/writings/writings.css">
</head>
<body>

    <% if(articles.length === 0){ %>
        <h3>Nothing found.</h3><br>
   <% }else{ %>

    <main class="container">
    <div class="title"><marquee class="title_marquee"><img src="/public/images/transparent-gifs/1-1658999291244.gif.gif"><h1>LIBRARY</h1><img src="/public/images/transparent-gifs/libros-2.gif"></marquee></div>
    <div class="content">
    <aside class="column left">
        <img class="fish" src="/public/images/transparent-gifs/Biar9XpaT.gif">
        <div class="al categories">
            <%categories.forEach(c => { %>
                <a class="category"><%=c%></a>
           <% }) %>
        </div>
        <img class="fish" src="/public/images/transparent-gifs/Biar9XpaT.gif">
    </aside>
    <div class="articlesContainer">
        <a id="rss" href="/blog/rss" target="_blank"><img src="/public/images/icons/rss.png"></a>
        <div class="abs-w">
            <marquee id="w_1" scrollamount="20">אונדזער פֿאָטער, װאָס דו ביסט אין הימל,
                געהײליקט זאָל װערן דײַן נאָמען.<br>
                זאָל דײַן מאַלכעס קומען,<br>
                זאָל דײַן רצון געשען,<br>
                װי אין הימל, אַזױ אױך אױף דער ערד.<br>
                אונדזער טעגלעך ברױט גיב אונדז הײַנט.<br>
                און זײַ אונדז מוחל אונדזערע חובֿות,<br>
                װי אױך מיר זענען מוחל אונדזערע באַלע־חובֿות.<br>
                און ברענג אונדז נישט צו קײן ניסױען,<br>
                נאָר זײַ אונדז מאַצל פֿון שלעכץ.<br>
                [װאָרן דײַן איז דאָס מאַלכעס,<br>
                און די מאַכט, און דער כּבֿוד, אױף אײביק!]<br>
                .אָמן</marquee>

                <marquee id="w_2" scrollamount="50">אונדזער פֿאָטער, װאָס דו ביסט אין הימ
                װי אױך מיר זענען מוחל אונדזערע באַלע־חובֿות.<br>
                און ברענג אונדז נישט צו קײן ניסױען,<br>
                נאָר זײַ אונדז מאַצל פֿון שלעכץ.<br>
                [װאָרן דײַן איז דאָס מאַלכעס,<br>
                און די מאַכט, און דער כּבֿוד, אױף אײביק!]<br>
                καὶ ἄφες ἡμῖν τὰ ὀφειλήματα ἡμῶν, ὡς καὶ ἡμεῖς ἀφήκαμεν τοῖς ὀφειλέταις ἡμῶν<br>
                καὶ μὴ εἰσενέγκῃς ἡμᾶς εἰς πειρασμόν, ἀλλὰ ῥῦσαι ἡμᾶς ἀπὸ τοῦ πονηροῦ.<br>
                ὅτι σοῦ ἐστιν ἡ βασιλεία καὶ ἡ δύναμις καὶ ἡ δόξα εἰς τοὺς αἰῶνας. ἀμήν.<br>
                .אָמן</marquee>

                <marquee id="YHVH" scrollamount="20">יהוה</marquee>

                <marquee id="w_3" scrollamount="60">אונדזער פֿאָטער, װאָס דו ביסט אין הימל,<br>
                    געהײליקט זאָל װערן דײַן נאָמען.<br>
                    זאָל דײַן מאַלכעס קומען,<br>
                </marquee>

                <marquee id="w_4" scrollamount="70">ἐλθέτω ἡ βασιλεία σου· γενηθήτω τὸ θέλημά σου, ὡς ἐν οὐρανῷ καὶ ἐπὶ της γῆς·<br>
                    τὸν ἄρτον ἡμῶν τὸν ἐπιούσιον δὸς ἡμῖν σήμερον·<br>
                    זאָל דײַן מאַלכעס קומען,<br>
                    זאָל דײַן רצון געשען,<br>
                    καὶ ἄφες ἡμῖν τὰ ὀφειλήματα ἡμῶν, ὡς καὶ ἡμεῖς ἀφήκαμεν τοῖς ὀφειλέταις ἡμῶν<br>
                    καὶ μὴ εἰσενέγκῃς ἡμᾶς εἰς πειρασμόν, ἀλλὰ ῥῦσαι ἡμᾶς ἀπὸ τοῦ πονηροῦ.<br>
                    ὅτι σοῦ ἐστιν ἡ βασιλεία καὶ ἡ δύναμις καὶ ἡ δόξα εἰς τοὺς αἰῶνας. ἀμήν.<br>
                    ἐλθέτω ἡ βασιλεία σου· γενηθήτω τὸ θέλημά σου, ὡς ἐν οὐρανῷ καὶ ἐπὶ της γῆς·<br>
                    τὸν ἄρτον ἡμῶν τὸν ἐπιούσιον δὸς ἡμῖν σήμερον·<br>
                    זאָל דײַן מאַלכעס קומען,<br>
                    זאָל דײַן רצון געשען,<br>
                    καὶ ἄφες ἡμῖν τὰ ὀφειλήματα ἡμῶν, ὡς καὶ ἡμεῖς ἀφήκαμεν τοῖς ὀφειλέταις ἡμῶν<br>
                    καὶ μὴ εἰσενέγκῃς ἡμᾶς εἰς πειρασμόν, ἀλλὰ ῥῦσαι ἡμᾶς ἀπὸ τοῦ πονηροῦ.<br>
                    ὅτι σοῦ ἐστιν ἡ βασιλεία καὶ ἡ δύναμις καὶ ἡ δόξα εἰς τοὺς αἰῶνας. ἀμήν.<br>
                </marquee>

                    <marquee id="w_5" scrollamount="13">אונדזער פֿאָטער, װאָס דו ביסט אין הימ
                        װי אױך מיר זענען מוחל אונדזערע באַלע־חובֿות.<br>
                        און ברענג אונדז נישט צו קײן ניסױען,<br>
                        נאָר זײַ אונדז מאַצל פֿון שלעכץ.<br>
                        [װאָרן דײַן איז דאָס מאַלכעס,<br>
                        און די מאַכט, און דער כּבֿוד, אױף אײביק!]<br>
                    .אָמן</marquee>
            <img id="mc" src="/public/images/transparent-gifs/circles/mc1.gif">
        </div>
        <% for(let i = 0; i < articles.length; i++){ %>
           <% const {title, thumbnail_url, url} = articles[i] %>
           <a class="article"  color: rgba(<%=parseInt(Math.random() * 255)%>, <%=parseInt(Math.random() * 255)%>, <%=parseInt(Math.random() * 255)%>)
            background-color: rgba(<%=parseInt(Math.random() * 255)%>, <%=parseInt(Math.random() * 255)%>, <%=parseInt(Math.random() * 255)%>, 0.8);" href="/blog/writings/<%=url%>" class="article">
                <img src="<%=thumbnail_url%>">
                <h3><%=title%></h3>
           </a>
       <% } %>
            </div>
  <aside class="column right">
    <img class="fish" src="/public/images/transparent-gifs/Biar9XpaT.gif">
    <img class="thds" src="/public/images/pngs/thds.png">
    <img src="/public/images/gifs/smt.gif">
    <div class="al">
        <img src="/public/images/pngs/al_magus.png">
        <h3>IT IS ALL WRITTEN</h3>
    </div>
    <img src="/public/images/transparent-gifs/spinningds.gif">
    <img src="/public/images/transparent-gifs/animated_computer_067.gif">
    <img class="fish" src="/public/images/transparent-gifs/Biar9XpaT.gif">
</aside>
    </div>
    <div class="title paginator"><%- include('../components/paginator', {...paginator})%></div>
</main>
<a id="back" href="/blog"><<<<<<<<<<<< GO BACK</a>
<% } %>

    <img id="patchy" src="/public/images/transparent-gifs/PatoelietoeIdle.gif">

</body>
</html>