<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%if (typeof title === "undefined"){ %>
        <title>NO TITLE XDDDDDDDDDDDDN</title>
   <% }else{ %>
        <title><%=title%></title>
   <% } %>
    <%if (typeof(icon) === "undefined"){ %>
        <link rel="icon" type="image/x-icon" href="/public/images/favicons/gb.png">
   <% }else{ %>
        <link rel="icon" type="image/x-icon" href="<%="/public/images/favicons/"+icon%>">
  <% } %>

    <% if(typeof(stylesPath) !== "undefined"){ %>
        <link rel="stylesheet" href="<%=stylesPath%>">
   <% } %>

   <%if (typeof(title) === "undefined"){ %>
        <meta property="og:title" content="NO TITLE XDDDDDDDDDDDDN" />
   <% }else{ %>
        <meta property="og:title" content="<%=title%>" />
   <% } %>
    <meta content="『 リリカル・トカレフ 』" property="og:site_name">
    <meta property="og:type" content="website" />
    <% if(typeof(metaImagePath) === "undefined"){ %>
        <meta property="og:image" content="public/images/backgrounds/shinkiheader.png" />
    <% }else{ %>
        <meta property="og:image" content="<%=metaImagePath%>" />
   <% } %>
    <meta property="og:description" content="キルゼムアール" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="theme-color" content="#FFAE42">
</head>