<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/public/styles/blog.css">
</head>
<body>
    <a id="rss" href="/blog/rss" target="_blank"><img src="/public/images/icons/rss.png"></a>
    <header>
        <%- include("components/nav") %>
    </header>

    <main class="content">
        <h3 style="color: green;">The length of the content inside of this collection of dynamically generated hypertext markup language documents may range from a single UTF-8 character or image to</h3><br>
        <div class="paths">
            <a href="/blog/writings">Blog</a>
        </div>
        <% if(articles.length > 2){ %>
        <h2>Recent Articles</h2>
        <div class="articlesContainer">
    <% for(let i = 0; i < 6; i++){ %>
       <% const {title, thumbnail_url, url} = articles[i] %>
       <a style="background-color: rgba(<%=parseInt(Math.random() * 255)%>, <%=parseInt(Math.random() * 255)%>, <%=parseInt(Math.random() * 255)%>, 0.8);" href="/blog/writings/<%=url%>" class="article">
            <img src="<%=thumbnail_url%>">
            <h3><%=title%></h3>
       </a>
   <% } %>
   <%}%>
        </div>
    </main>

</body>
</html>