<!DOCTYPE html>
<html lang="en">
<%- include("components/head", {title: "GRIMOIRE", stylesPath: "/public/styles/guestbook.css"}) %>

<body>
    <header>
        <%- include("components/nav") %>
    </header>

    <img id="alicens" src="/public/images/portraits/alicems.png">

    <form id="form" method="POST" action="/guestbook">
        <div class="form_input"><p>Name</p><input name="name" type="text" placeholder="Reuenthal"><br><label for="name">blank if anon</label></div>
        <div class="form_input"><p>Website</p><input name="website" type="text" placeholder="https://lyricaltokarev.fun/"><br><label for="website">optional</label></div>
        <div class="form_input"><p>Email</p><input name="email" type="email" placeholder="lyrical@tokarev.fun"><br><label for="website">optional too</label></div>
        <div class="form_input"><p>Which family member would you turn into a minion?</p><input name="member" placeholder="my newborn nephew"><br><label for="member">that one is required</label></div>
        <div class="form_input"><p>PLEASE TELL ME HOW TO DEFEAT THEM</p><textarea name="message" placeholder="KILL THEM (WITH FIRE AND Death)"></textarea></div>
        <input type="submit" value="Transmit Naacal Code">
        <div class="chaos">
            <img id="alices" src="/public/images/portraits/alicems.png"><p>The organization behind this website is constantly fighting otherwordly creatures.<br>
            Help them by filling the pages of their grimoire!
            </p>
        </div>
    </form>

    <div class="comment_container">
    <% if(comments.length === 0){ %>
        <marquee>
            <h2>My Grimoire Is Empty. This Is The End Of All Hope.</h2>
            <img src="/public/images/portraits/alicedefeat.png">
        </marquee>
   <% }else{ %>
    <% comments.forEach((c, i) => { %>
        <div class="comment">
                    <div class="namepfp">
                        <img src="<%=c.pic%>">
                        <p><%-c.name%></p>
                        <p><%=c.createdAt.toLocaleString()%></p>
                    </div>
              <div class="comment_info">
                    <%if(c.name){ %>
                        <span>My name is <%=c.name%> and I would turn <%=c.member%> into a minion!</span>
                <% }else{ %>
                        <span>I'm a really mysterious person and I would turn <%=c.member%> into a minion!</span>
                <% } %>
               <%if(c.website){ %>
                <p><a href="<%=c.website%>"><%=c.website%></a></p>
              <% } %>
               <%if(c.email){ %>
                <p><a href="mailto:<%=c.email%>"><%=c.email%></a></p>
               <% } %>
            </div>
            <p class="message"><%=c.message%></p>
            <%if (c.reply){ %>
                <p class="message"><%-c.reply%></p>
           <% } %>
           <% if(admin){ %>
            <form method="POST" action="/guestbook/reply/<%=c.id%>">
                <textarea name="reply"></textarea>
                <input type="submit"></input>
            </form>
          <% }%> 
        </div>
   <% }) %>
   <% } %>

    </div>

    <% if(randomAd){ %>
        <%-include('components/buttons/ad.ejs', {b: randomAd}) %>
   <% } %>

    <footer>
        <img src="/public/images/romantic.png">
    </footer>

    <script>
        const aliceon = document.getElementById('alices')
        const aliceoff = document.getElementById('alicens')
        const form = document.getElementById('form')

        aliceon.addEventListener('click', () => {
            form.style.display = 'none'
            aliceoff.style.display = 'block'
        })

        aliceoff.addEventListener('click', () => {
            form.style.display = 'block'
            aliceoff.style.display = 'none'
        })

    </script>
</body>
</html>