<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrical Tokarev</title>
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="icon" type="image/x-icon" href="/public/images/avatar/59.jpeg">
    <script src="/public/scripts/crawler.js"></script>
</head>
<body>

    <header>

        <div class="visitors">
            <img id="kohakuvis" src="/public/images/transparent-gifs/kohaku-walk.gif">
                <div id="blackboard">
                    <div class="blackboard-text">
                        <span>SITE VISITORS</span>
                        <span>- <%=visitorCount%> -</span>
                        <span>THANK U!!!</span>
                    </div>
                </div>
            <img id="kohakuvis" src="/public/images/transparent-gifs/kohaku-walk.gif">
        </div>

        <%- include("components/nav") %>
    </header>

    <div class="content">
                <div class="top">
                    <div class="top-gif-container">
                        <%if(typeof indexBarGifs !== 'undefined' && indexBarGifs[0]){ %>
                            <% for(let i = 0; i < 18; i++){ %>
                                <% const gif = indexBarGifs[i] %>
                                <img src=<%=gif.url%>>
                                <%if(i === 8){%>
                                    <br>
                                <% } %>
                            <% } %>
                        <% }else{ %>
                        <h1>:(</h1>
                        <% } %>
                    </div>

                    <div class="button-container">
                        <div class="marquee" id="mycrawler">
                            <% shillButtons.forEach(b => { %>
                                <%- include('components/buttons/button', {b: b}) %>
                          <%  }) %>
                        </div>

                    </div>

                </div>

                    <div class="middle">

                    <% if(buttons.length){ %>

                    <div class="buttons">

                        <div class="buttons-column">
                            <%for(let i = 0; i < Math.floor(buttons.length/2); i++){ %>
                                <% const b = buttons[i] %>
                                <%- include("components/buttons/button", {b}) %>
                           <% }%>
                        </div>

                        <div class="buttons-column">
                            <%for(let i = Math.floor(buttons.length/2); i < buttons.length; i++){ %>
                                <% const b = buttons[i] %>
                                <%- include("components/buttons/button", {b}) %>
                           <% }%>
                        </div>

                    </div>

                    <% } %>

                    <main>
                        <p class="main p"><h1 id="online">LYRICALTOKAREV.FUN IS ON THE LINE.</h1>
                            <p>THIS SITE WAS MAINLY MADE 2 DISS THEM LURKING OUTER ONES. HERE'S A LIST OF THOSE THAT ARE NOT WELCOME HERE</p>
                            <ul>
                                <li>CHAOS NIGGAS</li>
                                <li>TECHNOCRATS BORN DURING A FULL MOON</li>
                                <li>ADMINISTRACION FEDERAL DE INGRESOS PUBLICOS AGENTS</li>
                                <li>THOSE WHO CHANGE THE NATURE OF MAN (YOU CANT CHANGE THE NATURE OF MAN)</li>
                                <li>UNIRONIC LODGE MEMBERS</li>
                            </ul>
                            <img src="https://thumbs.gfycat.com/FlamboyantFlawedBlackwidowspider-size_restricted.gif">
                            <small>FAR EASTERN DRAWINGS ON THE COMPUTER SCREEN?????? NO WAY!!!!</small>
                            <p>BESIDES THAT, THIS IS JUST A COMPLETELY SELF-HOSTED PERSONAL WEBSITE ON DA INTER NET, MADE TO EXPERIMENT AND TO HAVE A PLACE TO PUT UP STUFF THAT ISN'T GAY YOUTUBE FACEBOOK TWITTER AMAN ZONE NETFLIX DISCORD.</p>
                            <p>I WAS GOING TO EXPLAIN WHY SELF-HOSTING IS THE WAY AND WHY YOU SHOULDN'T DEPEND ON ANY "SERVICE" OR "SOCIAL MEDIA" MADE TO SELL YOUR DATA, MAKE YOU ANGRY AND GIVE YOU NO POWER OVER WHAT YOU'RE DOING WHATSOEVER, BUT THAT'S SOMETHING FOR A FULL ARTICLES AND IF YOU ENDED UP HERE <a href="https://www.youtube.com/watch?v=bdKZVIGRAKQ">YOU PROBABLY HEARD OF IT A THOUSAND TIMES.</a></p>
                            <% if(ads.length){ %>
                                <div class="bottom">
                                    <div class="ads">
                                        <% for(let i = 0; i < 1; i++){ %>
                                            <% const a = ads[i] %>
                                            <%- include('components/buttons/button', {b: a}) %>
                                       <% } %>
                                    </div>
                                </div>
                
                                <% } %>
                            <p>83% OF THE FUNCTIONALITIES ON THIS WEBSITE WERE SELF-IMPLMENTED AND DON'T DEPEND ON ANY EXTERNAL API AND I ENCOURAGE EVERYONE WHO READS THIS TO DO SO.</p>
                            <p>I'VE SET UP A BLOG SYSTEM WITH AN RSS FEED (NO ONE CARES ABOUT THAT BUT WHATEVER) WHERE I'LL WRITE STUFF WHENEVER I HAVE TO. THERE'S ALSO A GUESTBOOK SYSTEM AND THATS IT FOR NOW I GUESS.</p>
                            <p><s>I'LL LIST SOME OF THE TOOLS I MADE WHICH I DON'T KNOW WHERE TO PUT YET</s> ITS ALL ON THE SERVICES ICON BUT WHATEVER LOL</p>
                            <ul>
                                <li><a href="https://toolbox.lyricaltokarev.fun">Toolbox</a> - Some of the miscellaneous stuff I made for a dumb imageboard I made when I was learning 2 kode</li>
                                <li><a href="https://calculiada.lyricaltokarev.fun">Calculiada</a> - To calculate argentinian online shopping taxes n customs taxes (EPIC TAX EVASION BLOG POST TUTORIAL COMING SOON)</li>
                            </ul>
                            <p>IF YOU NEED TO CONTACT ME, LEAVE AN ENTRY ON THE <a href="/guestbook">GUESTBOOK</a> WITH YOUR EMAIL AND I'LL CONTACT YOU AS SOON AS I READ IT.</p>
                        </p>
                        <img src="/public/images/Screenshot_57.png">
                        <a href="/inside/arcadia"><img src="/public/images/Screenshot_1.png"></a>
                        <h2>MUTUALS ON NEOCITIES DOT COM</h2>
                        <div>
                            <%for(let i = 0; i < mutuals.length; i++){ %>
                                <% const b = mutuals[i] %>
                                <%- include("components/buttons/button", {b}) %>
                           <% }%>
                        </div>
                        <div>
                            <h4>LINK US!</h4><br>
                            <a href="https://lyricaltokarev.neocities.org" target="_blank">
                                <img src="/public/images/buttons/lyricaltokarevbutton.gif">
                            </a>
                        </div>
                    </main>

                    <div class="blinkies">
                        <div class="buttons-column">
                            <img src="/public/images/blinkies/1playstation.gif">
                            <img src="/public/images/blinkies/blinkybase.gif">
                            <img src="/public/images/blinkies/blinkieanimefreak.gif">
                            <img src="/public/images/blinkies/jesussaves.gif">
                            <img src="/public/images/blinkies/lovefamily.gif">
                            <img src="/public/images/blinkies/mom.gif">
                            <img src="/public/images/blinkies/myifgodbringsyoutoit.gif">
                            <img src="/public/images/blinkies/sugarspice2.gif">
                            <img src="/public/images/blinkies/skyb.gif">
                        </div>
                    </div>
                </div>



    </div>

    <div id="puni">
        <p class="speech">LYRICALTOKAREV.FUN IS ONLINE!!!!</p>
        <img src="/public/images/punifig.png">
    </div>

    <div id="yumefixed">
        <img src="/public/images/portraits/yume.png">
    </div>
    <script src="/public/scripts/marquee.js"></script>
    <script>
        const online = document.getElementById("online");
        online.addEventListener("mouseover", () => {
            window.open("/public/images/lyricaltokarev.fun.jpg", "_blank")
        })
    </script>
</body>
</html>