<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrical Tokarev</title>
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="icon" type="image/x-icon" href="/public/images/avatar/59.jpeg">
    <script src="/public/scripts/crawler.js"></script>
</head>
<body>

    <header>

        <div class="visitors">
            <img id="kohakuvis" src="/public/images/transparent-gifs/kohaku-walk.gif">
                <div id="blackboard">
                    <div class="blackboard-text">
                        <span>SITE VISITORS</span>
                        <span>- <%=visitorCount%> -</span>
                        <span>THANK U!!!</span>
                    </div>
                </div>
            <img id="kohakuvis" src="/public/images/transparent-gifs/kohaku-walk.gif">
        </div>

        <%- include("components/nav") %>
    </header>

    <div class="content">
                <div class="top">
                    <div class="top-gif-container">
                        <%if(typeof indexBarGifs !== 'undefined' && indexBarGifs[0]){ %>
                            <% for(let i = 0; i < 18; i++){ %>
                                <% const gif = indexBarGifs[i] %>
                                <img src=<%=gif.url%>>
                                <%if(i === 8){%>
                                    <br>
                                <% } %>
                            <% } %>
                        <% }else{ %>
                        <h1>:(</h1>
                        <% } %>
                    </div>

                    <div class="button-container">
                        <div class="marquee" id="mycrawler">
                            <% shillButtons.forEach(b => { %>
                                <%- include('components/buttons/button', {b: b}) %>
                          <%  }) %>
                        </div>

                    </div>

                </div>

                    <div class="middle">

                    <% if(buttons.length){ %>

                    <div class="buttons">

                        <div class="buttons-column">
                            <%for(let i = 0; i < Math.floor(buttons.length/2); i++){ %>
                                <% const b = buttons[i] %>
                                <%- include("components/buttons/button", {b}) %>
                           <% }%>
                        </div>

                        <div class="buttons-column">
                            <%for(let i = Math.floor(buttons.length/2); i < buttons.length; i++){ %>
                                <% const b = buttons[i] %>
                                <%- include("components/buttons/button", {b}) %>
                           <% }%>
                        </div>

                    </div>

                    <% } %>

                    <main>
                        <img src="/public/images/underconstruction.gif">
                        <p class="main p">This is a website on the Inter Net made for those who struggle against the Chaos Gods.
                            Made for those who are being harassed by 72 (And Counting) Legions of Demons at this very moment.
                            Fear not, for this website has already stored its Divine Word-driven protection algorithms in your cache files.
                        </p>
                        <img src="/public/images/Screenshot_57.png">
                        <img src="/public/images/Screenshot_1.png">
                    </main>

                    <div class="blinkies">
                        <div class="buttons-column">
                            <img src="/public/images/blinkies/1playstation.gif">
                            <img src="/public/images/blinkies/blinkybase.gif">
                            <img src="/public/images/blinkies/blinkieanimefreak.gif">
                            <img src="/public/images/blinkies/jesussaves.gif">
                            <img src="/public/images/blinkies/lovefamily.gif">
                            <img src="/public/images/blinkies/mom.gif">
                            <img src="/public/images/blinkies/myifgodbringsyoutoit.gif">
                            <img src="/public/images/blinkies/sugarspice2.gif">
                            <img src="/public/images/blinkies/skyb.gif">
                        </div>
                    </div>
                </div>

                <% if(ads.length){ %>
                <div class="bottom">
                    <div class="ads">
                        <% for(let i = 0; i < 4; i++){ %>
                            <% const a = ads[i] %>
                            <%- include('components/buttons/button', {b: a}) %>
                       <% } %>
                    </div>
                </div>

                <% } %>

    </div>

    <div id="puni">
        <p class="speech">MATALOS A TODOS</p>
        <img src="/public/images/punifig.png">
    </div>

    <div id="yumefixed">
        <img src="/public/images/portraits/yume.png">
    </div>
    <script src="/public/scripts/marquee.js"></script>
</body>
</html>